.list-item {
  list-style-type: none;
  width: 50%;
}
.image {
  height: 250px;
  width: 90%px;
}
.name {
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #0f172a;
}
@media screen and (max-width: 576px) {
  .image {
    width: 90%;
  }
  .list-item {
    width: 100%;
  }
}
